// Screen size breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colours
$bandsite-black: #323232;
$silver: #afafaf;

$bandsite-darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$api-key: "4ec5707f-0962-47c9-afb3-b1a6a57cc204";